bin/**
obj/**
/CSharpTeaching/CSharpTeaching/bin/Debug/netcoreapp3.1
/CSharpTeaching/CSharpTeaching/obj
/LoanCalculator/bin/Debug/netcoreapp3.1
/LoanCalculator/obj/Debug/netcoreapp3.1
/LoanCalculator/obj/Release/netcoreapp3.1
/CSharpTeaching/.vs/CSharpTeaching/v16
/.vs/CSharpTeaching/v16
/HomeTask5/bin/Debug/netcoreapp3.1
/HomeTask5/obj
/HomeTask5.Tests/bin/Debug/netcoreapp3.1
/HomeTask5.Tests/obj
/StudentsApp/bin/Debug/netcoreapp3.1
/StudentsApp/obj
*.v2
/HomeTask7/obj
/HomeTask7/bin/Debug/netcoreapp3.1
/StudentManagementApp/bin/Debug/netcoreapp3.1
/StudentManagementApp/obj
/Delegates/obj
/SendEmailsSeparately/bin/Debug/netcoreapp3.1
/SendEmailsSeparately/obj
/FormulaParser/bin/Debug/netcoreapp3.1
/FormulaParser/obj
/GarbageCollector/bin/Debug/netcoreapp3.1
/GarbageCollector/obj
