bin/**
obj/**
/CSharpTeaching/CSharpTeaching/bin/Debug/netcoreapp3.1
/CSharpTeaching/CSharpTeaching/obj
/LoanCalculator/bin/Debug/netcoreapp3.1
/LoanCalculator/obj/Debug/netcoreapp3.1
/LoanCalculator/obj/Release/netcoreapp3.1
/CSharpTeaching/.vs/CSharpTeaching/v16
/.vs/CSharpTeaching/v16
/HomeTask5/bin/Debug/netcoreapp3.1
/HomeTask5/obj
/HomeTask5.Tests/bin/Debug/netcoreapp3.1
/HomeTask5.Tests/obj
